* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

select:not(:disabled) {
    cursor: pointer;
}

:root {
    --main-color: #f2f5f9;
    --accent-color: #43c943;
    --accent-color-2: #349634;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-color);
    font-size: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.spinner {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
