.converters-container {
    width: 100vw;
    padding-block: 4vh;
    padding-inline: 6vw;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 30px;
    justify-content: center;
    align-content: flex-start
}

@media (max-width: 800px) {
    .converters-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 20px;
    }
}
