.table-container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.table-wrapper {
    position: relative;
    min-width: 500px;
    width: 80%;
    max-width: 1250px;
    height: 100%;
    border: 1px solid #e6e7e9;
    border-radius: 7px;
    overflow: hidden;
}

.table-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 57px;
    background-color: white;
    text-align: left;
    font-weight: 500;
    padding-inline: 2%;
    border-bottom: 1px solid #e6e7e9;
}

.table {
    width: 100%;
    text-align: left;
}

.table-header {
    padding-inline: 1rem;
    background-color: #f8fafc;
    width: 100%;
    height: 35px;
    border-collapse: collapse;
}

.table-header-item {
    font-weight: 400;
    font-size: 13px;
    color: #616876;
}

.table-row {
    background-color: white;
    width: 100%;
    height: 62px;
    border-collapse: collapse;
    border-bottom: 1px solid #e6e7e9;
}

.table-row > td {
    height: 62px;
    font-size: 16px;
}

.table-row:last-child > td {
    border-bottom: none;
}

.table-header-item, .table-item {
    border-bottom: 1px solid #e6e7e9;
}

.progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.progress-bar-1 {
    position: relative;
    width: 60%;
    height: 12px;
    border-radius: 6px;
    background-color: lightgray;
}

.progress-bar-2 {
    position: absolute;
    height: 100%;
    min-width: 12px;
    max-width: 100%;
    border-radius: 6px;
    background-color: var(--accent-color-2);
    inset: 0;
    transition: width 150ms;
}

.progress-percent {
    margin-left: -4px;
    margin-bottom: 2px;
    padding: 0;
    vertical-align: middle;
    width: 40px;
    text-align: left;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.status-icon {
    height: 12px;
}

.status-icon.blink {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.stop-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 72px;
    height: 35px;
    background-color: #ff3b30;
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
    transition-duration: 200ms;
}

.stop-btn:hover {
    background-color: #bd1b14;
    color: #edf1eb;
}
