.converter {
    width: 370px;
    height: 200px;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(30, 41, 59, 0.42) 0 2px 4px 0;
    border: 1px solid rgba(98, 105, 118, 0.51);
    overflow: hidden;
    transition-duration: 200ms;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.output-file {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 340px;
    font-size: 1.5rem;
}

.type {
    margin: -6px 0 4px 0;
    padding: 0;
    font-size: 1.1rem;
    color: var(--accent-color-2);
}

.files {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-bottom: 10px;
}

.other-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    width: 120px;
    text-align: center;
}

.other-file > p {
    margin: 0;
    width: 100%;
}

.other-file > a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.converter:hover {
    background-color: #f4f6fa;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.progress-container {
    position: relative;
    width: 170px;
    height: 12px;
    border-radius: 6px;
    background-color: gray;
}

.progress-bar {
    position: absolute;
    height: 100%;
    min-width: 12px;
    max-width: 100%;
    border-radius: 6px;
    background-color: var(--accent-color-2);
    inset: 0;
    transition: width 100ms;
}

.progress-percent {
    margin-left: -4px;
    margin-bottom: 2px;
    padding: 0;
    vertical-align: middle;
    width: 40px;
    text-align: left;
}

.stop {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: none;
    background-color: #d20000;
    padding: 8px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    transition-duration: 200ms;
}

.stop:hover {
    background-color: #ff3333;
    color: #dcdcdc;
}
